[Desktop Entry]
Name=Dropper
GenericName=Dropper
Comment=Friendly Dropbox GUI
Categories=Utility;Education;
Exec=com.valacounterapp
Terminal=false
Icon=/home/rodrigo/Public/ValaCounter/data/imgs/Dropbox-icon.png
Type=Application
Keywords=Dropbox;GUI;Cloud;
X-GNOME-UsesNotifications=true
